/*
 * Re-mapping the columns to match your hand-wiring.
 * Pin order: 14, 15, 18, 19, 20, 21
 */

/ {
    /* * We don't need #include "corne.dtsi" here because the build system
     * loads it automatically for us. We just modify the existing node.
     */
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};
